.app {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  max-width: 1920px;
  margin: 0 auto;

  &__description {
    text-align:center;
    margin-bottom:16px;
    font-size:1.5em;
    animation: fadeIn 1s ease-in;
  }
}

.mat-mdc-card {
  margin-bottom: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
